* {
    box-sizing: border-box;
}

.column {
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
    float: left;
    padding: 10px;
    width: 33.33%;
}

/* Orange */
.column {
    color: orange;
}

a,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: none;
}

.column:hover {
    background: #ef742e;
    color: white;
}

/* Clear floats after the columns */
.row:after {
    clear: both;
    content: "";
    display: table;
}



body {
    background: #ECEFF1;
    background: #000000;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    opacity: 0.8;
    padding: 0;
}

#message {
    /*width of main box*/
    background: white;
    border-radius: 3px;
    margin: 100px auto 16px;
    max-width: 90%;
    padding: 32px 24px;
}

#message,
/*main page selection box*/
#message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    background: #000000;
    font-size: 13px;
    opacity: 0.4;
    text-align: center;
}

@media (max-width: 100%) {

    body,
    #message {
        background: white;
        box-shadow: none;
        margin-top: 0;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        background-color: white;
        width: 100%;
    }
}
